body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: black;
  background-color: white;

  background-image: url("../img/background.png");
  background-size: 600px auto;
  background-repeat: repeat;
  background-position: top center;
}

.main-header {
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
}

.left-line {
  position:relative;

  display: flex;
}

.left-line img {
  height: 40px;
}

.animation {
  position:relative;

  display: flex;
  align-items: center;

  padding-left: 50px;
  background: linear-gradient(to right, rgb(255, 98, 40) 90%, transparent 10%) no-repeat;
}

.link-animation {
  transition-duration: 1s;
}

.link-animation:hover {
  color: white;
  transition: 0.05s;
  transform: scale(1.3);
}

.logo {
  position: relative;
  display: flex;

}

.logo a {
  position: inherit;
  display: inherit;

}

.logo a img {
  height: 90px;
}

.navigation {
  position: relative;
  display: flex;

  justify-content: space-between;
  width: 100%;
  min-width: 920px;
  background: linear-gradient(to left, black 90%, transparent 10%) no-repeat;
}

.nav-category {
  position: relative;
  display: flex;

  padding-right: 420px;
  /* margin-left: 20px; */
}

.button {
  position: relative;
  display: flex;
  align-items: center;

  transition-duration: 1s;
}

.button:hover {
  transform: translateX(10px);
  transition: 0.5s;
}

.button .button-background {
  position: relative;
  display: flex;
}

.button .button-icon {
  position: absolute;
  display: flex;

  left:60%;
  transform: translateX(-50%);

  pointer-events: none;
}

.button .button-text {
  position: absolute;
  display: flex;

  left:50%;
  transform: translateX(-50%);

  pointer-events: none;
}

.button .button-icon img {
  height: 20px;
  weight: 20px;
  filter: invert(0%);
  transition-duration: 1s;
}

.button .button-background img {
  height: 40px;
  filter: brightness(100%);
  transition-duration: 1s;
}

.button-icon {
  transition: 1s;
}

.button:hover .button-icon  {
  filter: invert(100%);
  transition: 0.5s;
}

.button:hover .button-background img {
  filter: brightness(140%);
  transition: 0.5s;
}



#rand {
  transform: translateX(0px) !important;
  z-index: 4;
}

#rand  .button-icon {
  left:50% !important;
}

#cat1 {
position: absolute !important;
z-index: 3;
left: 20px;
}

#cat2 {

 position: absolute !important;
 z-index: 2;
 left: 150px;
}

#cat3 {
 position: absolute !important;
 z-index: 1;
 left: 300px;
}

.nav-user {
  position: relative;
  display: flex;
  align-items: center;

  width: 100%;
  margin-right: 40px;
}

.button-user {
  display: flex;
  opacity: 0.5;
  transition: 0.5s;
}

.button-search {
  display: flex;
  opacity: 0.4;
  transition: 0.5s;

  margin-left: 30px;
}

.button-search:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.button-user img {
  height: 25px;
  width: 25px;
}

.button-user:hover {
  opacity: 1;
  transition: 0.5s;
}

.button-search img{
  height: 20px;
  width: 20px;
}


.search-line {
  display: flex;
  outline: none;
  border: none;
  width: 100%;
  padding-left: 10px;
  margin-right: 30px;
  background: transparent;
}

.nav-search {
  display: flex;
  align-items: center;

  width: 100%;
  height: 80%;

  background-repeat: no-repeat;
	background-position: center bottom 1px;
	background-size: 100% 1px;
	background-image: linear-gradient(to right, transparent, red 10%, blue 90%, transparent);
}
