body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: black;
  background-color: white;
  background-image: url("../img/background-2.png");
  background-size: 600px auto;
  background-repeat: repeat;
  background-position: top center;
}

header {
  display: flex;
  flex-direction: column;
  min-width: 1230px;
  height: 290px;
  margin-bottom: 40px;
}

header .carousel {
  background-color: black;
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
   height: 250px;

}

.carousel-indicators li {
    border-radius: 50%;
    width: 12px;
    height: 12px;

    background-color: white;
    opacity: 0.4;
}

.carousel-indicators li:hover {
    background-color: white;
    opacity: 0.6;
}

.carousel-indicators .active, .carousel-indicators .hover {
    max-width: 12px;
    margin: 0 3px;
    height: 12px;

    background-color: white;
    opacity: 0.7;
}

/*------------------------------ vertical bootstrap slider------------------------------------*/

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    height:20px;
    right:10px; left:auto;
    width:auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}


/* ---------------------------------------------------------------------------------------- */

.main-header {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-width: inherit;
  top: 232px;
}

.left-line {
  position: relative;
  display: flex;
  height: 40px;
}

.left-line img {
  height: inherit;
}

.animation {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 50px;
  background: linear-gradient(to right, rgb(255, 98, 40) 90%, transparent 95%) no-repeat;
  height: inherit;
}

.link-animation {
  cursor: pointer;
  transition-duration: 1s;
}

.link-animation:hover {
  color: white;
  transition-duration: 0.01s;
}

.logo {
  position: relative;
  display: flex;
  height: 78px;
  width: 78px;
}

/* .logo::after {
  position: absolute;

  height: 90px;
  width: 90px;

  background-color: black;
   background-image: url("../img/logo-black.svg");
} */

.logo a {
  position: inherit;
  display: inherit;
  height: inherit;
  width: inherit;
}

.logo a img {
  height: inherit;
  width: inherit;
}

/* ======================================================================== */
.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

  background: linear-gradient(to left, black 95%, transparent 98%) no-repeat;
  height: 40px;
}

.nav-category {
  position: relative;
  display: flex;
  padding-right: 480px;
}

.button-rand {
  width: 100px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  background-image: url("../img/logo-right.svg");
  z-index: 4;
  filter: brightness(100%);
  transition-duration: 0.25s;
}

.button-rand .button-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.button-rand .button-icon i {
  color: black;
  transition-duration: 0.25s;
}

.button-rand:hover {
  filter: brightness(120%);
  transition-duration: 0.25s;
}

.button-rand:hover .button-icon i {
  color: white;
  transition-duration: 0.25s;
}

/* ======================================================================== */
.button-category {
  width: 240px;
  height: 40px;
  position: absolute;
  display: flex;
  align-items: center;
  background-size: cover;
  background-image: url("../img/sword-orange-2.svg");
  margin-left: 30px;
  filter: brightness(100%);
  transition-duration: 0.25s;
}

.button-category .button-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 20%;
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  transition-duration: 0.25s;
}

/* .button-category::before {
  position: absolute;
  content: "";

  height: 100%;
  width: 80%;

  background: linear-gradient(to right, yellow, transparent);

  opacity: 0.2;
  transition-duration: 0.5s;
} */
.button-category:hover {
  filter: brightness(120%);
  transition-duration: 0.25s;
}

.button-category:hover .button-icon {
  color: white;
  transition-duration: 0.25s;
}

/* .button-category:hover::before {
  opacity: 0.6;
  transition-duration: 0.5s;
} */
#c1 {
  z-index: 3;
}

#c2 {
  left: 160px;
  z-index: 2;
}

#c3 {
  left: 320px;
  z-index: 1;
}

.nav-user {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  /* margin-right: 40px; */
}

.nav-search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center bottom 1px;
  background-size: 100% 1px;
  background-image: linear-gradient(to right, transparent, red 10%, green 90%, transparent);
}

.search-line {
  display: flex;
  outline: none;
  border: none;
  width: 100%;
  padding-left: 10px;
  margin-right: 20px;
  background: transparent;
}

.button-search {
  display: flex;
  opacity: 0.4;
  transition: 0.5s;
  margin-left: 30px;
}

.button-search img {
  height: 20px;
  width: 20px;
}

.button-search:hover {
  opacity: 0.7;
  transition: 0.5s;
}

/* .button-user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

.button-user img {
  text-decoration: none;
  position: relative;
  height: 100%;
}

.fa-circle, .fa-user-circle {
  position: absolute;
  transition-duration: 0.25s;
} */

/* .button-user div {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button-user div .user-icon-light {
  color: green;
  transition-duration: 0.25s;
}

.button-user div:hover .user-icon-light {
  color: #00A20B;
  transition-duration: 0.25s;
}

.user-name {
  display: flex;
  align-items: center;
  height: 80%;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: center bottom 1px;
  background-size: 100% 1px;
  background-image: linear-gradient(to left, green 60%, transparent);
}

.user-name a {
  margin-left: 20px;
  opacity: 0.4;
  transition-duration: 0.25s;
}

.user-name a:hover {
  opacity: 0.7;
  transition-duration: 0.25s;
} */

.nav-status {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.button-user .user-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-user {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  width: 50px;
}

.button-user img {
  position: absolute;
  transition-duration: 0.25;
  height: 100%;
}

.user-icon-light, .fa-user-circle {
  position: absolute;
}

.user-icon-light {
  color: green;
  transition-duration: 0.25s;
}

.user-name {
  display: flex;
  align-items: center;
  height: 80%;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: center bottom 1px;
  background-size: 100% 1px;
  background-image: linear-gradient(to left, green 60%, transparent);
}

.user-name a {
  margin-left: 20px;
  opacity: 0.4;
  transition-duration: 0.25s;
}

.nav-status:hover .user-icon-light {
  color: #00A20B;
  transition-duration: 0.25s;
}

.nav-status:hover .user-name a {
  opacity: 0.7;
  transition-duration: 0.25s;
}
